@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #343a40;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  background-color: white;
  width: 320px;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}

.App .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.App .header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.App .header a {
  cursor: pointer;
}

.App .header .icon {
  width: 20px;
  fill: #343434;
}

.App .main {
  margin-bottom: 2.5rem;
}

.App .main .input-container {
  font-size: 1.8rem;
  margin-inline: auto;
  text-align: center;
}

.App .main .input-container .input {
  width: 2ch;
  font-size: 1.8rem;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.App .main .input-container .input[type="number"]::-webkit-outer-spin-button,
.App .main .input-container .input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App .main .input-container .input[type="number"] {
  -moz-appearance: textfield;
}

.App .main .work {
  min-height: 5.4rem;
  text-align: center;
}

.App .main .work h2 {
  font-size: 2.4rem;
}

.App .main .work p {
  font-size: 2.2rem;
  color: inherit;
}

.App .main input {
  max-width: 80px;
}

.App .button-btn.single {
  padding: 0.8rem 2.8rem;
  background-color: transparent;
  font-size: 1.6rem;
  border: 1px solid #343434;
  border-radius: 5px;
  display: block;
  margin-inline: auto;
}

.App button {
  cursor: pointer;
  font-size: 1.6rem;
}

.App .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.App .buttons-wrapper button {
  color: #343434;
  padding: 0.8rem 2.8rem;
  background-color: transparent;
  border: 1px solid #343434;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.App .buttons-wrapper button.warning {
  color: #e67700;
  border-color: #e67700;
}

.notepad-area h3 {
  text-align: left;
}

.notepad-area .textarea-wrapper {
  position: relative;
  border: 1px solid #e67700;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid gray;
}

.notepad-area .textarea-wrapper .delete {
  position: absolute;
  top: 3%;
  right: 4%;
  cursor: pointer;
}

.notepad-area .textarea-wrapper .delete img {
  width: 21px;
}

.notepad-area .textarea {
  width: 100%;
  border: none;
  background-color: #fff0df5e;
  font-size: 1.5rem;
  display: block;
  margin-inline: auto;
  min-height: 210px;
  max-height: 210px;
  padding: 10px;
  padding-top: 2.5rem;
  outline: none;
  resize: none;
}
/*# sourceMappingURL=index.css.map */