@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
$warning: #e67700;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #343a40;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.extension-container {
  background-color: white;
  border: 1px solid #343434;
  width: 320px;
  border-radius: 10px;
  padding: 2rem;

  .header {
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5rem;

    .logo {
      font-size: 1.6rem;
    }

    .icon {
      width: 20px;
    }
  }

  .main {
    margin-bottom: 2.5rem;

    .input-container {
      font-size: 1.8rem;
      margin-inline: auto;
      text-align: center;

      .input {
        width: 2ch;
        font-size: 1.8rem;
        color: inherit;
        background-color: transparent;
        border: none;
        outline: none;
      }
      .input[type="number"]::-webkit-outer-spin-button,
      .input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      .input[type="number"] {
          -moz-appearance: textfield;
      }
    }

    .work {
      min-height: 5.4rem;
      text-align: center;
      p {
        font-size: 1.8rem;
        color: inherit;
      }
    }

    input {
      max-width: 80px;
    }
  }

  .button-btn.single {
    padding: 0.8rem 2.8rem;
    background-color: transparent;
    font-size: 1.8rem;
    border: 1px solid #343434;
    border-radius: 5px;
    display: block;
    margin-inline: auto;
  }

  button {
    cursor: pointer;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    button {
      font-size: 1.8rem;
      padding: 0.8rem 2.8rem;
      background-color: transparent;
      border: 1px solid #343434;
      border-radius: 5px;
      text-transform: capitalize;
      cursor: pointer;

      &.warning {
        color: $warning;
        border-color: $warning;
      }
    }

  }
}

